/*base classes*/

.box {
    padding: 15px;
    border-radius: 10px;
    background: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 5px
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit
}

* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none
}

body {
    background: #2a2c3b;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #d3d6ea;
    height:100vh;
}

.trans {
    transition: all 0.2s ease-in-out;
}

/*----------------------start header-------------------*/

header {
    background-color: #2f3242;
    position: relative;
    box-shadow: 0px 10px 35px -10px #1d1e29
}

.menu,
.logo {
    color: #fff;
    height: 70px;
}

.menu > li + li {
    margin-left: 40px;
}

.add-btn {
    border: 2px solid #2091eb;
    height: 50px;
    width: 140px;
    border-radius: 25px;
}

.add {
    margin: 0 15px 0 0;
    padding: 5px 10px 5px 5px;
}

.icon {
    padding-right: 10px;
    color: #2091eb;
}

.notify {
    position: relative;
}

.notify::before {
    display: block;
    position: absolute;
    content: "";
    top: 2px;
    right: -2px;
    background: #2091eb;
    border: 2px solid #2f3242;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.profile {
    width: 50px;
    height: 50px;
    background-color: #000;
}

.list {
    margin-left: 10px;
}

.search,
.notfication {
    font-size: 20px;
}
header .list{
    position: relative;
}
header .list > i{
    color:#2091eb;
    cursor: pointer;
}
header .list ul {
    position:absolute;
    top:55px;
    right:8px;
    z-index:9999;
    background:#2f3242;
    border:2px solid #2091eb;
    border-radius:5px;
}
header .list ul::before{
    position: absolute;
    content: '';
    display: block;
    background:transparent;
    top:-35px;
    right:-2px;
    border-top:25px solid transparent;
    border-right:15px solid #2091eb;
    border-left:60px solid transparent;
    border-bottom:10px solid #2091eb;
}
header .list li {
    position:relative;
}
header .list li i {
    position: absolute;
    left:10px;
    top:15px;
}
header .list li a {
    padding:10px 10px 10px 30px;
    display: block;
}
header .list li + li {
    border-top:2px solid #2091eb;
}
/*----------------------end header---------------------*/

/*----------------------start side menu----------------*/

.menu-bar-icons {
    width: 84px;
    background-color: #2f3242;
    color: #737aa1;
    height: calc(100% - 80px);
    align-items: flex-start;
    box-shadow: 10px 0px 15px -10px #1d1e29;
}
@media (max-width:768) {
    .menu-bar-icons{
        height:100%;
    }
}
.menu-bar-icons ul {
    padding: 0 25px;
    top: 0;
}

.menu-bar-icons ul li {
    font-size: 30px;
    margin: 50px 0;
}

.menu-bar-icons ul li:hover,
.menu-bar-icons ul li a:focus,
.menu-bar-icons .active {
    color: #fff;
}

/*----------------------end side menu------------------*/

main {
    height:calc(100% - 80px);
    width: calc(100% - 84px);
}
main .scroll{
    position:fixed;
    width: 7px;
    height:calc(90% - 80px);
    background:#333;
    border:1px solid #999;
    top:calc(5% + 160px);
    border-radius: 5px;
    right: 2px;
}