/*----------------------start option bar---------------*/
.option-bar{
    background-color: #237cc6;
    width:calc(100% - 84px);
    position: relative;
    color:#fff;
    z-index: 2;
    padding: 25px 15px 25px 40px;
}
.option-bar .flex.col-xs-12 {
    justify-content:flex-start;
}
.option-bar .sort {
    justify-self: flex-start;
    line-height: 30px;
}
.option-bar .show-p{
    margin-right:25px;
}
.option-bar .p-menu {
    height:30px;
    padding:0 40px 0 20px;
    border:1px solid #fff;
    border-radius:15px;
    position: relative;
    cursor: pointer;
    max-width:300px;
    min-width:150px;
}
.option-bar .p-menu i {
    display: block;
    position:absolute;
    right:10px;
    top:8px;
    z-index: 2;
}

.option-bar .p-menu ul {
    border-radius:15px;
    position:absolute;
    border:1px solid #fff;
    border-top:none;
    width:calc(100% + 2px);
    overflow: hidden;
    left:-1px;
}
.option-bar .p-menu ul li {
    background:#237cc6;
    padding:7px 0 7px 15px;
}

.option-bar .p-menu ul li.selected {
    background:#2a6ba1;
}
.option-bar .p-menu ul li:not(.selected) {
    display:none;
}
    /*-----------------------end option bar----------------*/
/*  ======================
    All Goals Page
=======================  */
main {
    padding-right:15px;
    padding-left:56px
}
.main{
    padding:20px 15px 20px 0;
}
.main .labels{
    padding-left:45px
}
.main .task {
    padding-left:40px;
}
.main .labels, .main .task {
    padding-top:20px;
    padding-bottom:20px;
}
.main .task {
    background:#3a3e52;
    color:#fff;
    border-left:5px solid #fff;
    border-radius:5px;
    margin-bottom: 20px;
}
.main .task .subtext {
    color:#9ea3b4;
}
.main .flex .prog span{
    width:40px;
}
.main .flex .progress {
    margin-bottom: 0;
    background:#585c70;
    height:7px;
    width:calc(100% - 40px);
    margin-left:5px;
}
.main .row .flex > div:not(.progress):not(.profile) {
    margin-left:20px;
}
.main .task > .flex {
    width:100%;
}
.main .task .assign{
    justify-content: flex-start;
}
.main .task i {
    margin-left:auto;
}
/*=======================
    Login/Signup Form
========================*/
.form {
    height: 70%;
    position: relative;

}

.backbox {
    background-color: #585c70;
    width: 100%;
    height: 80%;
    display: inline-flex;
}

.frontbox {
    background-color: white;
    border-radius: 20px;
    min-height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right .8s ease-in-out;
}

.moving {
    right: 44%;
}

.loginMsg,
.signupMsg {
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title {
    font-weight: 300;
    font-size: 23px;
}

.loginMsg p,
.signupMsg p {
    font-weight: 100;
}

.textcontent {
    color: white;
}
.inputbox{margin-top:30px}
.loginMsg button,
.signupMsg button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    width: 80px;
    box-sizing: content-box;
    font-weight: 300;
    padding: 10px;
    margin-top: 20px;
}

/* front box content*/

.login,
.signup {
    padding: 20px;
    text-align: center;
    min-height:100%;
}

.login h2,
.signup h2 {
    color: #337ab7;
    font-size: 22px;
    margin-top:0;
}

.login input:not([type="submit"]),
.signup input:not([type="submit"]) {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 20px;
    font-size: 12px;
}

.login,.signup{flex-direction: column;}
/* Fade In & Out*/

.login p {
    cursor: pointer;
    color: #404040;
    font-size: 15px;
}

.loginMsg,
.signupMsg {
    transition: opacity .8s ease-in-out;
}

.visibility {
    opacity: 0;
}

.forget{opacity: 0.7;}
.forget:hover{opacity:1}
.checkboxes{
    color: #000;
    width: 100%;
    justify-content: flex-start;
}
.forget-ps{
    font-weight: 100;
    opacity: .9;
}
.forget-ps i, .agree-terms i{
    margin-right: 10px;
    width:15px;
}
.agree-terms p {
    margin-bottom: 0;
}