/*base classes*/
.box {
    padding:15px;
    border-radius:10px;
    background: white;
}
.flex {
    display:flex;
    justify-content: center;
    align-items: center;
}
hr {margin-top:5px}
a,a:hover,a:active{text-decoration: none;color:inherit}
*{margin: 0;padding:0;}
body{background:#2a2c3b;letter-spacing: 1px;font-family:'Montserrat', sans-serif;}
/*----------------------start header-------------------*/
header {
    background-color: #2f3242;
    position:relative;
    box-shadow: 0px 10px 35px -10px #1d1e29
}
.menu,.logo{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    height: 70px;
}
.menu li + li {
    margin-left:40px;
}
.add-btn{
    border: 2px solid #2091eb;
    height: 50px;
    width: 140px;
    border-radius: 25px;
}
.add{
    margin:0 15px 0 0;
    padding: 5px 10px 5px 5px;
}
.icon{
    padding-right: 10px;
    color: #2091eb;
}
.notify{position: relative;}
.notify::before {
    display:block;
    position: absolute;
    content:"";
    top:2px;
    right:-2px;
    background:#2091eb;
    border:2px solid #2f3242;
    border-radius:50%;
    width:13px;
    height:13px;
}
.profile{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}
.list{
    display: inline-block;
    margin-left: 10px;
}
.search,.notfication{font-size: 20px;}

/*----------------------end header---------------------*/

/*----------------------start side menu----------------*/
 .menu-bar-icons{
    width:84px;
    background-color: #2f3242;
    color: #737aa1;
    height:calc(100vh - 70px);
    align-items:flex-start;
    box-shadow: 10px 0px 15px -10px #1d1e29;
}
 .menu-bar-icons ul{padding: 0 25px;top: 0;}
 .menu-bar-icons ul li{
    font-size: 30px;
    margin: 50px 0;
}
 .menu-bar-icons ul li:hover{color: #fff;}
 .menu-bar-icons ul li a:focus{color: #FFF;}


/*----------------------end side menu------------------*/
/*----------------------start option bar---------------*/
.option-bar{
    background-color: #237cc6;
    width:calc(100% - 84px);
    position: relative;
    color:#fff;
    z-index: 2;
    padding: 25px 15px 25px 40px;
}
.option-bar .flex.col-xs-12 {
    justify-content:flex-start;
}
.option-bar .sort {
    justify-self: flex-start;
    line-height: 30px;
}
.option-bar .show-p{
    margin-right:25px;
}
/*.option-bar .sort + div {color:#2f3242;}*/

.option-bar .p-menu {
    height:30px;
    padding:0 20px;
    border:1px solid #fff;
    border-radius:15px;
    position: relative;
}
.option-bar .p-menu span {
    display: block;
    margin-right:63px;
}
.option-bar .p-menu.open {
    border-radius:15px 15px 0 0;
    border-bottom:none
}
.option-bar .p-menu ul {
    position: absolute;
    border:1px solid #fff;
    left:-1px;
    border-top:none;
    border-radius:0 0 15px 15px;
    overflow: hidden;
    top:calc(100% + 0px);
    width:calc(100% + 2px);
}
.option-bar .p-menu ul li {
    padding:5px 0 5px 20px;
    background:#237cc6;
    border-top:1px solid #fff;
}
    /*-----------------------end option bar----------------*/
.main{
    padding:0 15px 0 40px;
}